{% extends 'arko/main/base.html' %}

{% block content %}
<div class="w-100 " style="padding-bottom: 50px;padding-top:80px;">
    <div class="card border-secondary mb-3">
        <div class="card-header" style='background-color:#7FC8A9;'>あなたのグループ</div>
        <div class="card-body">
          <h5 class="card-title">{{arkogroup}}</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-header" style='background-color:#7FC8A9;'>あなたのユーザー情報</div>
        <div class="card-body">
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text">権限:  {{perm}}</p>
        </div>
    </div>
    <p><a href="{% url 'project' %}" class="btn btn-primary" style="width:80%;margin-left:10%;">プロジェクトを始める</a> </p>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ステータスの見方
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="statsample" style="border-left:8px #eeeeee solid;">クリア</div>
            {% for i in statset %}
            <div class="statsample" style="border-left:8px {{i.color}} solid;">{{i.name}}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <p class="mt-3 fs-5">最近の履歴</p>
    {% for i in history %}
    <div style="
      margin:5px;
      padding:10px;
      border:1px lightgray solid;
      border-radius:5px;">
    <b>{{i.content}}</b> <br>
    {{i.value}}
    </div>
    {% empty %}
    <p>まだ履歴はありません。</p>
    {% endfor %}

    <style>

      .statsample{
        padding:10px;
        margin-bottom:10px;
        border:1px lightgray solid;
        font-weight:bold;
      }
    </style>
</div>
{% endblock %}