.left_wrapper{
    margin-bottom:50px;
    width:750px;
    float:left;
    padding:10px;
    /* background-color:#ffbebe; */
}


.right_wrapper{
    margin-left: 20px;
    margin-bottom:50px;
    min-height: 300px;
    width:380px;
    float:left;
    padding:10px;
    border:1px lightgray solid;
    border-radius: 5px;
    /* background-color:#afcbff; */
}

.row{
    /* height:100px; */
    overflow:hidden;
    margin-bottom: 20px;
    border-top:1px lightgray solid;
    border-bottom:1px lightgray solid;
    /* background-color:#253f6e; */
}
.field{
    padding:10px 0px;
    min-height:100px;
    margin-left: 20px;
    /* background-color:#d8afff; */
}

.color{
    display: inline-block;
}

span{
    display: inline-block;
    margin-top: 10px;
    vertical-align: center;
    width:120px;
    
}

.sample_card{
    padding:5px 10px;
    width:300px;
    height:100px;
    border:3px #7FC8A9 solid;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    position:relative;
}

.color_area{
    position:absolute;
    top:0px;
    left:270px;
    height:100px;
    width:30px;
    border:1px #7FC8A9 solid;
    background-color:red;
}
.color_area_clear{
    position:absolute;
    top:-1px;
    left:270px;
    height:102px;
    width:30px;
    border:1px #7FC8A9 solid;
    /* background-color:red; */
}

input[type='text']:disabled{
    background:#f8f9fa;
}

.color:disabled{
    background:#f8f9fa;
}

.grip{
    width:20px;
    height:100px;
    padding:30px 0;
    margin-left:0px;
    /* background-color:blue; */
    text-align:center;
    vertical-align:middle;
    font-size:30px;
    display: none;
    cursor: grab;
}

.editarea{
    display:none;
}

form > .btn{
    margin-bottom: 20px;
}