{% extends 'arko/auth/base.html' %}

{% block content %}
<div>
   <h3>グループのアカウント設定</h3>
   <p>グループの名前とパスワードを変更する</p>
   <form method="post">
      {% csrf_token %}


   {{form.as_p}}
   <span style="color:gray;font-size: 14px;">8文字以上15文字以内。半角英数字と記号_-@ のみ入力可能.</span>
   <p class="mt-2"><input class="btn btn-outline-primary" type="submit" value="保存"></p>
   </form>
   <a href="{% url 'group_top' arkogroup %}">
   <button class="btn btn-danger" >グループ設定に戻る</button>
   </a>
   {% if alart %}
        <div class="alert alert-danger mt-2" role="alert"><i class="bi bi-exclamation-triangle"></i> {{alart}}</div>
   {% endif %}
   {% if alart_ok %}
        <div class="alert alert-success mt-2" role="alert"><i class="bi bi-exclamation-triangle"></i> {{alart_ok}}</div>
   {% endif %}
</div>
{% endblock %}