{% extends 'arko/auth/base.html' %}

{% block content %}
<div>
    <p>
    <h2><b>Arko</b> をはじめましょう !</h2>
    </p>
    <form method="post">
        {% csrf_token %}
        <p><label class="control-label">{{form.username.label}}</label>
            {{form.username}}</p>
        <p><label class="control-label">{{form.password.label}}</label>
            {{form.password}}</p>
        {% if alart %}
        <div class="alert alert-danger" role="alert"><i class="bi bi-exclamation-triangle"></i> {{alart}}</div>
        {% endif %}
        <p><input class="btn btn-primary mt-3" type="submit" value="ログイン"></p>
    </form>
    <div class="alert alert-primary" style="margin-top:50px;"><i class="fas fa-flag"></i>
        まだユーザーではないですか？<br>新しくあなたのグループのユーザーになる場合は、管理者から招待リンクを受け取ってください。</div>
    <p style="margin-top:100px;font-size:13px;">あなたのチームで初めてArkoを使いますか？その場合は<a
            href="create_group">こちら</a>から新しいグループを作ってプロジェクトを始めることができます。</p>
</div>
{% endblock %}